@import '@/styles/variables.scss';

.sidebar {
  border: 1px solid $color-bg-secondary;
  grid-row: 1/-1;
  padding: $spacing-lg;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100dvh;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  color: #666;
  transition: all 0.2s ease;
  font-weight: 500;

  &:hover {
    background-color: $color-text-secondary;
  }
}

.active {
  background-color: $color-panel;
  color: white;
}

.logoContainer {
}

.logo {
  max-width: 100%;
}
