@import '@/styles/variables.scss';

.row {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.2fr;
  margin-bottom: 1rem;

  justify-content: center;
  align-items: center;
}

.imgDiv {
  width: 50%;
  height: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-weight: 500;
}

.price {
  font-weight: 500;
}

.discount {
  color: $color-green-500;
  font-weight: 500;
}
