@import '@/styles/variables.scss';

.header {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.addButton {
  background-color: orange;

  &:hover:not(:disabled) {
    background-color: orange;
    opacity: 0.6;
  }
}
