@import '@/styles/variables.scss';

.header {
  border: 1px solid $color-text-secondary;
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.2fr;
  margin-block: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 500px;
}
